.p_conent{
    width: 100%;
    height: 100%;
    .p_header{
        width: 100%;
        // height:0.78rem; 
        padding-top: 0.3rem;;
        padding-bottom: 0.3rem;;
        border-bottom: 1px solid #ebebeb;
        margin-bottom: 0.3rem;
        h2{
            display: block;
            line-height: 0.25rem;
            padding-left: 0.16rem;
            margin-left: 0.3rem;
            border-left: 0.04rem solid #00aedd;
            height: 0.25rem;
        }
     }
     .yz{
        text-align: center;
        // border-top: 1px solid #dedede;
        padding-top: 0.3rem;
    }
     .info{
        border: 1px solid #00aedd;
        background: #e5f7fc;
        width: 95%;
        margin: 0 auto;
        margin-top: 0.24rem;
        margin-bottom: 0.55rem;
        p{
            color: #333333;
            font-size: 14px;
            margin-left: 0.16rem;
            padding-top: 0.15rem;
            padding-bottom: 0.15rem;
        }
    }
    .first{
        width: 56%;
        margin: 0 auto;
        margin-top: 0.55rem;
        margin-bottom: 0.3rem;
        margin-left: 15%;
     }
     .ivu-input{
         height: 40px;
     }
     .ivu-input-type{
         position: relative;
     }
     .ivu-form-item-content{
        //  margin-left:145px!important;
        span{
            display: inline-block;
            position: absolute;
            // margin-right: 5px;
            // margin-top: 2px;
            top:6px;
            right: 52px;
            // padding:0 0.1rem;
            height: 70%;
            font-size: 14px;
            // margin-top: 0.1rem;
            line-height:28px;
            width: 0.77rem;
            border-left: 1px solid #e5e5e5;
            text-align: center;
        }
     } 
     .ivu-form-item-label{
        font-size:14px;
        padding: 13px 12px 13px 0;
     }
    .btn{
        // border-top: 1px solid #dedede;
        text-align: center;
        padding-top: 0.3rem;
        width: 100%;
        button{
            margin-right: 0.23rem;
        }
    }
    .inps{
        display: inline-block;
        height: 32px;
        line-height: 1.5;
        font-size: 12px;
        border: 1px solid #dddee1;
        border-radius: 4px;
        padding: 0 0.05rem;
        color: #495060;
        background-color: #fff;
        background-image: none;
        position: relative;
        cursor: text;
        margin-right: 0.05rem;
    }
    .inps:hover{
        border-color: #57a3f3;
    }
    // span{
    //    display: inline-block; 
    //    position: relative; 
    //    img{
    //        width: 75%;
    //    }
    // }
    .inpus{
        width: 50%;
        height: 0.5rem;
        margin: 0 auto;
        text-align: right;
        margin-top: 0.2rem;;
        p{
            font-size: 14px;
            display: inline-block;
            margin-right: 0.2rem;
        
        }
        select{
            width: 60%;
            height: 80%;
            border: 1px solid #dddee1;
            border-radius: 4px;
        }
        input{
            width: 60%;
            height: 32px;
            line-height: 1.5;
            font-size: 12px;
            border: 1px solid #dddee1;
            border-radius: 4px;
            padding: 0 0.05rem;
            color: #495060;
            background-color: #fff;
            background-image: none;
            position: relative;
            cursor: text;
            margin-right: 0.05rem;
        }
        input:hover{
            border-color: #57a3f3;
        }
    }

    .ivu-table th,.ivu-table-cell{
        text-align: center;
    }
    .ivu-select-selection{
        width: 85%;
    }
    // .ivu-form-item-label{
    //     padding-right: 1px;
    // }
    .ivu-input-wrapper{
        width: 85%;
        // margin-left: 0.45rem;;
    }
    .ivu-form-item-label{
        width: 200px!important;
    }
}